html {
    font-size: 62.5%;
    box-sizing: border-box;
    color: #333;
}

body {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 3.5rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}